# 05-6 외장 함수

In [1]:
import sys
print(sys.argv)

['C:\\Users\\nrchu\\Anaconda3\\lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\nrchu\\AppData\\Roaming\\jupyter\\runtime\\kernel-fbca5d7c-2db7-452c-b8e0-16a9688466a7.json']

In [6]:
sys.path

['',
 'C:\\Users\\nrchu\\Anaconda3\\python36.zip',
 'C:\\Users\\nrchu\\Anaconda3\\DLLs',
 'C:\\Users\\nrchu\\Anaconda3\\lib',
 'C:\\Users\\nrchu\\Anaconda3',
 'C:\\Users\\nrchu\\AppData\\Roaming\\Python\\Python36\\site-packages',
 'C:\\Users\\nrchu\\Anaconda3\\lib\\site-packages',
 'C:\\Users\\nrchu\\Anaconda3\\lib\\site-packages\\setuptools-40.2.0-py3.6.egg',
 'C:\\Users\\nrchu\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\Users\\nrchu\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\nrchu\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\nrchu\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\nrchu\\.ipython']

In [29]:
sampleList = [1,2,3,4,5]

In [31]:
sampleList2 = sampleList

In [30]:
sampleList3 = sampleList.copy()

In [39]:
print(sampleList, sampleList2, sampleList3)

[5, 4, 3, 2, 2] [5, 4, 3, 2, 2] [1, 2, 3, 4, 5]

In [36]:
sampleList2[0] = 2

In [28]:
sampleList[0] = 2

In [38]:
sampleList2.reverse()

In [18]:
sampleList[5::-2]

[5, 3, 1]

In [2]:
'''
PhoneBook.py 프로그램을 작성한다.
데이터 준비
    홍길동, 010-111-1111, 서울시 강남구
    임꺽정, 010-222-2221, 서울시 서초구
    신돌석, 010-333-3331, 서울시 강북구

프로그램 실행 결과
python PhoneBook.py
이름 : 임꺽정
전화 : 010-222-2221
주소 : 서울시 서초구
'''

import sys
a = ["홍길동", "010-111-1111", "서울시 강남구"]
b = ["임꺽정", "010-222-2221", "서울시 서초구"]
c = ["신돌석", "010-333-3331", "서울시 강북구"]

In [48]:
import pandas as pd

In [56]:
a = ['ChungNuree', 'CHung by', 'c dy', 'jh']

In [57]:
names = pd.DataFrame(a, columns={'name'})

In [58]:
names

         name
0  ChungNuree
1    CHung by
2        c dy
3          jh

In [65]:
names['name'].apply(lambda x: x.split()[0])

0    ChungNuree
1         CHung
2             c
3            jh
Name: name, dtype: object

In [60]:
upper(names['name'])

NameError: name 'upper' is not defined

In [3]:
arg = sys.argv[1:]

In [5]:
sys.argv

['C:\\Users\\nrchu\\Anaconda3\\lib\\site-packages\\ipykernel_launcher.py',
 '-f',
 'C:\\Users\\nrchu\\AppData\\Roaming\\jupyter\\runtime\\kernel-fbca5d7c-2db7-452c-b8e0-16a9688466a7.json']

In [4]:
arg

['-f',
 'C:\\Users\\nrchu\\AppData\\Roaming\\jupyter\\runtime\\kernel-fbca5d7c-2db7-452c-b8e0-16a9688466a7.json']

In [ ]:
for v in arg:
    if v == "홍길동":
        print("이름: {0} \n전화: {1} \n주소: {2}".format(a[0],a[1],a[2]))
    elif v == "임꺽정":
        print("이름: {0} \n전화: {1} \n주소: {2}".format(b[0],b[1],b[2]))
    elif v == "신돌석":
        print("이름: {0} \n전화: {1} \n주소: {2}".format(c[0],c[1],c[2]))
    else:
        print("해당 사항 없음")

In [40]:
def sample_function(var):
    return var + '첫째', var+'둘째'

In [46]:
A, _ = sample_function('정씨네 ')

('정씨네 첫째', '정씨네 둘째')