## Overview

This notebook will show you how to create and query a table or DataFrame that you uploaded to DBFS. [DBFS](https://docs.databricks.com/user-guide/dbfs-databricks-file-system.html) is a Databricks File System that allows you to store data for querying inside of Databricks. This notebook assumes that you have a file already inside of DBFS that you would like to read from.

This notebook is written in **Python** so the default cell type is Python. However, you can use different languages by using the `%LANGUAGE` syntax. Python, Scala, SQL, and R are all supported.

In [2]:
# File location and type
file_location = "/FileStore/tables/2015_summary-ebaee.json"
file_type = "json"

# CSV options
infer_schema = "false"
first_row_is_header = "false"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
df = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

display(df)

DEST_COUNTRY_NAME,ORIGIN_COUNTRY_NAME,count
United States,Romania,15
United States,Croatia,1
United States,Ireland,344
Egypt,United States,15
United States,India,62
United States,Singapore,1
United States,Grenada,62
Costa Rica,United States,588
Senegal,United States,40
Moldova,United States,1
United States,Sint Maarten,325
United States,Marshall Islands,39
Guyana,United States,64
Malta,United States,1
Anguilla,United States,41
Bolivia,United States,30
United States,Paraguay,6
Algeria,United States,4
Turks and Caicos Islands,United States,230
United States,Gibraltar,1
Saint Vincent and the Grenadines,United States,1
Italy,United States,382
United States,Federated States of Micronesia,69
United States,Russia,161
Pakistan,United States,12
United States,Netherlands,660
Iceland,United States,181
Marshall Islands,United States,42
Luxembourg,United States,155
Honduras,United States,362
The Bahamas,United States,955
United States,Senegal,42
El Salvador,United States,561
Samoa,United States,25
United States,Angola,13
Switzerland,United States,294
United States,Anguilla,38
Sint Maarten,United States,325
Hong Kong,United States,332
Trinidad and Tobago,United States,211
Latvia,United States,19
United States,Ecuador,300
Suriname,United States,1
Mexico,United States,7140
United States,Cyprus,1
Ecuador,United States,268
United States,Portugal,134
United States,Costa Rica,608
United States,Guatemala,318
United States,Suriname,34
Colombia,United States,873
United States,Cape Verde,14
United States,Jamaica,712
Norway,United States,121
United States,Malaysia,3
United States,Morocco,19
Thailand,United States,3
United States,Samoa,25
Venezuela,United States,290
United States,Palau,31
United States,Venezuela,246
Panama,United States,510
Antigua and Barbuda,United States,126
United States,Chile,185
Morocco,United States,15
United States,Finland,28
Azerbaijan,United States,21
United States,Greece,23
United States,The Bahamas,986
New Zealand,United States,111
Liberia,United States,2
United States,Hong Kong,414
Hungary,United States,2
United States,China,920
United States,Vietnam,2
Burkina Faso,United States,1
Sweden,United States,118
United States,Kuwait,28
United States,Dominican Republic,1420
United States,Egypt,12
Israel,United States,134
United States,United States,370002
Ethiopia,United States,13
United States,Luxembourg,134
United States,Poland,33
Martinique,United States,44
United States,Saint Barthelemy,41
Saint Barthelemy,United States,39
Barbados,United States,154
United States,Turkey,129
Djibouti,United States,1
United States,Azerbaijan,21
United States,Estonia,1
Germany,United States,1468
United States,South Korea,827
United States,El Salvador,508
Ireland,United States,335
United States,Hungary,3
Zambia,United States,1
Malaysia,United States,2
United States,Ethiopia,12
United States,Panama,465
United States,Aruba,342
United States,Thailand,4
United States,Turks and Caicos Islands,236
Croatia,United States,2
United States,Pakistan,12
Cyprus,United States,1
United States,Honduras,407
Fiji,United States,24
Qatar,United States,108
Saint Kitts and Nevis,United States,139
Kuwait,United States,32
Taiwan,United States,266
Haiti,United States,226
Canada,United States,8399
Federated States of Micronesia,United States,69
United States,Liberia,2
Jamaica,United States,666
United States,Malta,2
Dominican Republic,United States,1353
Japan,United States,1548
United States,Lithuania,1
Finland,United States,26
United States,Guadeloupe,59
United States,Ukraine,13
United States,France,952
United States,Norway,115
Aruba,United States,346
French Guiana,United States,5
United States,Kiribati,35
India,United States,61
British Virgin Islands,United States,107
Brazil,United States,853
United States,Germany,1336
United States,New Zealand,74
French Polynesia,United States,43
United Arab Emirates,United States,320
Singapore,United States,3
United States,Mexico,7187
United States,Sweden,119
Netherlands,United States,776
United States,Martinique,43
United States,United Arab Emirates,313
United States,Bulgaria,1
Denmark,United States,153
China,United States,772
United States,Nicaragua,201
United States,Philippines,126
United States,Georgia,1
United States,Belgium,228
Cayman Islands,United States,314
Argentina,United States,180
Peru,United States,279
South Africa,United States,36
United States,Iceland,202
United States,Argentina,141
Spain,United States,420
Bermuda,United States,183
United States,Nigeria,50
United States,Austria,63
United States,"Bonaire, Sint Eustatius, and Saba",59
Kiribati,United States,26
Saudi Arabia,United States,83
Czech Republic,United States,13
United States,Israel,127
Belgium,United States,259
United States,Saint Lucia,136
United States,Bahrain,1
United States,British Virgin Islands,80
Curacao,United States,90
Georgia,United States,2
United States,Denmark,152
United States,Guyana,63
Philippines,United States,134
Grenada,United States,53
Cape Verde,United States,20
Cote d'Ivoire,United States,1
Ukraine,United States,14
United States,Papua New Guinea,1
Russia,United States,176
United States,Saudi Arabia,70
Guatemala,United States,397
Saint Lucia,United States,123
Paraguay,United States,60
United States,Curacao,83
Kosovo,United States,1
United States,Taiwan,235
Tunisia,United States,3
United States,South Africa,40
Niger,United States,2
Turkey,United States,138
United Kingdom,United States,2025
Romania,United States,14
United States,Greenland,4
Papua New Guinea,United States,3
United States,Spain,442
Iraq,United States,1
United States,Italy,438
Cuba,United States,466
United States,Switzerland,305
Dominica,United States,20
United States,Japan,1496
Portugal,United States,127
United States,Brazil,619
Bahrain,United States,19
United States,Peru,337
Indonesia,United States,1
United States,Belize,193
United States,United Kingdom,1970
Belize,United States,188
United States,Ghana,20
United States,Indonesia,2
United States,Fiji,25
United States,Canada,8483
United States,Antigua and Barbuda,117
United States,French Polynesia,40
Nicaragua,United States,179
United States,Latvia,15
United States,Dominica,27
United States,Czech Republic,12
United States,Australia,258
United States,Cook Islands,13
Austria,United States,62
Jordan,United States,44
Palau,United States,30
South Korea,United States,1048
Angola,United States,15
Ghana,United States,18
New Caledonia,United States,1
Guadeloupe,United States,56
France,United States,935
Poland,United States,32
Nigeria,United States,59
United States,Uruguay,13
Greenland,United States,2
United States,Bermuda,193
Chile,United States,174
United States,Cuba,478
United States,Montenegro,1
United States,Colombia,867
United States,Barbados,130
United States,Qatar,109
Australia,United States,329
United States,Cayman Islands,310
United States,Jordan,44
United States,Namibia,1
United States,Trinidad and Tobago,217
United States,Bolivia,13
Cook Islands,United States,13
Bulgaria,United States,3
United States,Saint Kitts and Nevis,145
Uruguay,United States,43
United States,Haiti,225
"Bonaire, Sint Eustatius, and Saba",United States,58
Greece,United States,30

In [3]:
df.printSchema()

In [4]:
from pyspark.sql.functions import col, column
col("someColumnName")
column("someColumnName")

In [5]:
from pyspark.sql.functions import expr
expr("(((someCol + 5) * 200) - 6) < otherCol")

In [6]:
# in Python
from pyspark.sql import Row
myRow = Row("Hello", None, 1, False)
myRow[0]

In [7]:
# in Python
# df = spark.read.format("json").load("/data/flight-data/json/2015-summary.json")
df.createOrReplaceTempView("dfTable")

In [8]:
# in Python
from pyspark.sql import Row
from pyspark.sql.types import StructField, StructType, StringType, LongType
myManualSchema = StructType([
StructField("some", StringType(), True),
StructField("col", StringType(), True),
StructField("names", LongType(), False)
])
myRow = Row("Hello", None, 1)
myDf = spark.createDataFrame([myRow], myManualSchema)
myDf.show()

In [9]:
#select and selectExpr
# in Python
df.select("DEST_COUNTRY_NAME").show(2)

In [10]:
%sql #-- in SQL
SELECT DEST_COUNTRY_NAME FROM dfTable LIMIT 2

DEST_COUNTRY_NAME
United States
United States

In [11]:
# in Python
from pyspark.sql.functions import expr, col, column
df.select(
expr("DEST_COUNTRY_NAME"),
col("DEST_COUNTRY_NAME"),
column("DEST_COUNTRY_NAME"))\
.show(2)

In [12]:
df.selectExpr(
"*", # all original columns
"(DEST_COUNTRY_NAME = ORIGIN_COUNTRY_NAME) as withinCountry")\
.show(2)

In [13]:
df.show()

In [14]:
df.selectExpr("DEST_COUNTRY_NAME as newColumnName", "DEST_COUNTRY_NAME").show(2)

In [15]:
# in Python
from pyspark.sql.functions import lit
df2 = df.select(expr("*"), lit(1).alias("One"))

In [16]:
df2.printSchema()

In [17]:
df.show(2)

In [18]:
dfWithLongColName.columns

In [19]:
dfWithLongColName = df.withColumn(
"short",
expr("ORIGIN_COUNTRY_NAME"))
dfWithLongColName.select('short', 'ORIGIN_COUNTRY_NAME').show(2)

In [20]:
dfWithLongColName.selectExpr(
"`This Long Column-Name`",
"`This Long Column-Name` as `new col`")\
.show(2)

In [21]:
df.filter(col("count") < 2).show(2)

In [22]:
df.where(col('count') < 2).show(2)

In [23]:
# in Python
seed = 551
withReplacement = False
fraction = 0.5
df.sample(withReplacement, fraction, seed).count()

In [24]:
# in Python
dataFrames = df.randomSplit([1.0, 3.0], seed)
dataFrames[0].count()

In [25]:
schema

In [26]:
schema = df.schema

In [27]:
newRows = [
Row("New Country", "Other Country", 5),
Row("New Country 2", "Other Country 3", 1)
]

In [28]:
parallelizedRows = spark.sparkContext.parallelize(newRows,400)
newDF = spark.createDataFrame(parallelizedRows, schema)
newDF.rdd.getNumPartitions()

In [29]:
spark.createDataFrame(newRows, schema).rdd.getNumPartitions()

In [30]:
df = df.repartition(5, col("DEST_COUNTRY_NAME"))

In [31]:
df.rdd.getNumPartitions()

In [32]:
df = df.repartition(5, col("DEST_COUNTRY_NAME")).coalesce(2)

In [33]:
from pyspark.sql import DataFrame
from functools import reduce

surnames_part = reduce(DataFrame.unionAll, [df, newDF])
surnames_part

In [34]:
# in Python
df.union(newDF)\
.where("count = 1")\
.where(col("ORIGIN_COUNTRY_NAME") != "United States")\
.show()

In [35]:
(
df.union(spark.createDataFrame(newRows, schema))
.where("count = 1")
.where(col("ORIGIN_COUNTRY_NAME") != "United States")
.show()
)

In [36]:
# in Python
df2 = df.union(newDF)\
.where("count = 1")\
.where(col("ORIGIN_COUNTRY_NAME") != "United States")

In [37]:
df2.collect()

In [38]:
from pyspark.sql.functions import desc, asc
df.orderBy(expr("count desc")).show(2)
df.orderBy(col("count").desc(), col("DEST_COUNTRY_NAME").asc()).show(2)

In [39]:
from pyspark.sql.functions import desc, asc
df.orderBy("count").show(2)

In [40]:
# in Python
collectDF = df.limit(10)

In [41]:
collectDF.head()

In [42]:
collectDF.take(5) # take works with an Integer count

In [43]:
collectDF.show(5, False)
# collectDF.collect()

In [44]:
collectDF.limit(5).show()
# collectDF.collect()